.weather {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
}

.weather-haze{
  background-image: url(../img/fog.JPG);
}

.weather-clouds{
  background-image: url(../img/clouds.JPG);
}

.weather-rain{
  background-image: url(../img/rain.JPG);
}

.weather-clear{
  background-image: url(../img/clear.jpg);
}

.weather-extreme{
  background-image: url(../img/extreme.JPG);
}

.weather-snow{
  background-image: url(../img/snow.JPG);
}

.weather-thunderstorm{
  background-image: url(../img/thunder.JPG);
}

.name{
  float: left;
}

.input-area{
  margin-top: 10vh;
}

.results-container{
  text-align: center;
  background-color: #F5F5F5;
  opacity:0.6;
  filter:alpha(opacity=60);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.margin{
  margin-left: 13px;
}
