.weather-haze{
  background-image: url(../img/fog.JPG);
  background-size: cover;
}

.weather-clouds{
  background-image: url(../img/clouds.JPG);
  background-size: cover;
}

.weather-rain{
  background-image: url(../img/rain.JPG);
  background-size: cover;
}

.weather-clear{
  background-image: url(../img/clear.jpg);
  background-size: cover;
}

.weather-extreme{
  background-image: url(../img/extreme.JPG);
  background-size: cover;
}

.weather-snow{
  background-image: url(../img/snow.JPG);
  background-size: cover;
}

.vertical-align {
  height: 100vh;
  display: table;
  table-layout: fixed;
}

.wrapper{
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

.results-container{
  text-align: center;
  background-color: #F5F5F5;
  opacity:0.6;
  filter:alpha(opacity=60);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.margin{
  margin-left: 13px;
}
